@import url("https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap");


#grid {
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    height: 100%;
    border: 3px solid red;
}


/* ----------nav bar heading------------------ */

#header {
    border: 10px solid maroon;
    grid-column: 2/5;
    grid-row: 1/2;
}


.nav {
    border: 3px solid magenta;
    gap: 100px;
    display: flex;
    justify-content: flex-start;

}

.nav input {
    width: auto;
}

.sub-nav {
    grid-column: 2/4;
    border: 5px solid green;
}

/* ======================================= */











/* finished user icon button */

.user {
    width: 50px;
    height: 50px;
    background: url("https://www.giantbomb.com/a/uploads/scale_small/46/462814/3183074-4556700452-latest");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 150%;
}

/*                  */









/* -----finished left side bar----------*/
#aside {
    background: teal;
    grid-column: 1;
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Supermercado One', cursive;
    font-size: 24px;
    font-weight: 500;
    padding-right: 30px;
}

.sidelinks {
    display: flex;
    flex-direction: column;   
}

ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a, p {
    text-decoration: none;
    color: white;
}

/*--------------------------------*/



#content {
    grid-column: 2/4;
    grid-row: 2/5;
    background: red;
    border: 5px solid black;
    width: auto;
    height: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.bone {
    color: black;
    font-weight: 900;
    background: white;

    border: 3px solid blue;
    

    
}


/* ----------content---------- */




/* ---------------sub-content-------------- */

#sub-content {

    width: auto;
    height: auto;
    grid-column: 4/4;
    grid-row: 2/5;

    background: blue;
}


















